<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de producto</title>
</head>
<body>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
        id:
        <input type="text" name="product_id">
        <br>
        nombre:
        <input type="text" name="product_name">
        <br>
        precio:
        <input type="text" name="product_price">
        <br>
        descripcion
        <input type="text" name="product_description">
        <br>
        <input type="file" name="product_image" accept="png/jpg">
        <br>
        <button type="submit">crear</button>
    </form>
</body>
</html>