<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate!</title>
</head>
<body>
    <h1>Registro de Administradores</h1>
    <% if(typeof errors != "undefined") { %>
        <ul>
            <% for(var i = 0; i < errors.length; i++) { %>
                <li> <%= errors[i].msg %> </li>
            <% } %>
        </ul>   
    <% } %>
    <form action="/users/register" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <br>
        <select name="rol">
            <option value="1">Admin</option>
            <option value="2">usuario comun</option>
        </select>
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="sdfsdf">
        <br>
        <button type="submit">REGISTRARME</button>
    </form>
</body>
</html>