<article class="producto">
    <h3>Nombre: <%= producto.nombre %></h3>
    <h2>Precio: $<%= producto.precio %></h2>
    <h6>Precio con descuento de $<%=descuentoEnPesos%>: $<%= producto.precio - descuentoEnPesos %></h6>
</article>