<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/clase2.css">
    <style>
        body{
            background:pink;
        }
    </style>
</head>
<body>
    <h1 style="color:red;font-size:18px;">Titulo</h1>
    <h1>otro titulo</h1>
    <div class="alert alert-success">aca es un exito</div>
    <a href="#nosotros">Ir a nosotros...</a>
    <a href="#" class="letra-roja">Link a google</a>
    <button class="cancelar border-3">Cancelar</button>
    <button class="guardar border-3">Guardar</button>
    <button class="volver">Volver al home</button>
    <ul>
        <a href="">
            <li>Item 1</li>
        </a>
        <a href="" class="tamanio-grande">
            <li>Item 2</li>
        </a>
    </ul>
    <ul>
        <li>item sin link 1</li>
        <li>item sin link 2</li>
        <li>item sin link 3</li>
    </ul>
    <hr>
    <h3 id="nosotros">Nosotros...</h3>
    <p>Lorem, ipsum dolor sit amet consectetur <span class="marcador">adipisicing elit.</span> Quos laboriosam mollitia dolor autem, labore nemo! Ipsam dolor voluptate tempore esse maiores enim nemo id repellat! Hic ab voluptate animi saepe.</p>
    <p id="parrafo">Lorem, ipsum dolor <span class="marcador">sit amet consectetur</span> adipisicing elit. Quos laboriosam mollitia dolor autem, labore nemo! Ipsam dolor voluptate tempore esse maiores enim nemo id repellat! Hic ab voluptate animi saepe.</p>
</body>
</html>