<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 1</title>
    <link rel="stylesheet" href="/stylesheets/clase1.css">
</head>
<body>
    <h1>Titulo</h1>
    <!-- Aca va el subtitulo  -->
    <h2>Subtitulo</h2>
    <p>Texto Plano</p>
    <img src="/images/foto.jpg">
    <ul>
        <a href="https://google.com">
            <li>Google</li>
        </a>
        <li>
            <a href="https://facebook.com">Facebook</a>
        </li>
    </ul>
    <ul>
        <li></li>
    </ul>
    <a href="">Toca aqui</a>
    <img src="/images/foto.jpg" alt=""></img>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    <br>
    Minus ex repudiandae nihil recusandae, assumenda soluta ducimus maiores consequatur cupiditate aperiam est illo, et enim reiciendis voluptatibus minima cum harum nisi.
    <input type="text">
</body>

</html>