<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 4</title>
    <link rel="stylesheet" href="/stylesheets/clase4.css">
</head>
<body>
    <div class="container">
        <header>
            <div id="logo">
                <!--<img src="" alt="">-->
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About us</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>
        <aside>
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li></li>
                </ul>
            </nav>
        </aside>
        <main>
            <section class="banner"></section>
            <section class="adv"></section>
            <section class="adv"></section>
            <section class="prods">
                <article></article>
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </section>
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>