<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <link rel="stylesheet" href="/stylesheets/clase5.css">
</head>
<body>
    <ul>
        <li>BOTON</li>
        <li>BOTON</li>
        <li>BOTON</li>
        <li>BOTON</li>
        <li>BOTON</li>
    </ul>
    <h1>Bienvenidos!!</h1>
    <section class="container">
        <div class="caja uno"></div>
        <div class="caja dos"></div>
        <div class="caja tres"></div>
        <div class="caja cuatro"></div>
    </section>
    
</body>
</html>