<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <script src="/javascripts/scripts.js"></script>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque maiores atque magni, asperiores, laboriosam eligendi soluta alias iusto tempora blanditiis reiciendis ratione pariatur doloremque doloribus voluptas expedita, ducimus libero.</p>
    <ul>
        <li>producto 1</li>
        <li>producto 2</li>
        <li>producto 3</li>
    </ul>

</body>
</html>