<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos!</h1>
    <p>Profes:Diego Y Romi</p>
  </body>
</html>
