<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="noticias ultimo momento noticiero importante">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso 28 8</title>
    <link rel="stylesheet" href="/stylesheets/repaso.css">
</head> 
<body>
    <div class="container">
        <div class="banner"></div>
        <h1>Un mujer murió en un choque en Ciudad</h1>

        <main>
            <aside></aside>
            <section>
                <div class="centrado">
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                </div>
            </section>
        </main>

        <div class="entradas">
            <div class="foto"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda provident</p>
        </div>
        
    </div>
</body>
</html>